body {
    font-family:Arial;
    margin:0;

  }

h1
{
    font-size:50px;

}

.name-highlight
{
    color:cyan;
}

.half-width
{
    width:40%;
    float:left;
    margin-left:20px;

}

.half-width img
{
    width:100%;
}

.top-section
{
    background-image: url("2.png");
    width:100%;
    background-repeat:no repeat;

}
section 
{
    height:500px;

}